body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #e0f2fe, #f0f9ff);
    font-family: Arial, sans-serif;
}

.c {
     background: linear-gradient(135deg, #6366f1, #7c3aed);
    color: white;
    width: 320px;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.c h1 {
    font-size: 34px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 15px;
}


button {
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


/* Hover effects */
button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

/* Active click effect */
button:active {
    transform: scale(0.95);
}
